<h2>{{ name }}</h2>

<dl>
  <td>Nombre:</td>
  <dd>{{ name }}</dd>

  <td>Edad:</td>
  <dd>{{ age }}</dd>

  <td>Método:</td>
  <dd>{{ getHeroDescription() }}</dd>

  <td>Capitalizado:</td>
  <dd>{{ capitalizedName }}</dd>

</dl>

<button *ngIf="name !== 'Spiderman'" (click)="changeHero()" class="btn btn-primary me-2">Cambiar nombre</button>
<button *ngIf="age !== 33" (click)="changeAge()" class="btn btn-primary me-2">Cambiar edad</button>
<button *ngIf="name === 'Spiderman' || age === 33" (click)="resetFrom()" class="btn btn-primary me-2">Reset</button>
